.header-content {
    display: flex;
    justify-content: space-between;
}

.App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-link {
    /* padding-left: 251px; */
    text-decoration: none;
    color: white;
    /* position: relative; */
}

.userImageMask {
    /* padding-right: 251px; */
    position: relative;
}

.userContainer {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    overflow: hidden;
}

.userImage {
    width: 66px;
    height: 100%;
}

.topic-container {
    /* width: 575px; */
    height: 80px;
}

.topic-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.topic-link {
    text-decoration: none;
    color: white;
}

.topic-divider {
    width: 1px;
    height: 50px;
    background-color: white;
    margin: 0 20px;
}